package ${classPageName}.${commonPackageName}.mapper#if(${moduleName} != '').${moduleName}#end;

import ${classPageName}.${commonPackageName}.data.entity#if(${moduleName} != '').${moduleName}#end.${className};
import java.util.List;

/**
 * ${tableComment} 数据层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper {
	/**
     * 查询${tableComment}信息
     *
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
	${className} get${className}ById(${primaryKey.attrType} ${primaryKey.attrname});

	/**
     * 查询${tableComment}列表
     *
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	List<${className}> list${className}(${className} ${classname});

	/**
     * 新增${tableComment}
     *
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	int insert${className}(${className} ${classname});

	/**
	 * 批量新增${tableComment}
	 *
	 * @param ${classname}List ${tableComment}信息
	 * @return 结果
	 */
	int batchInsert${className}(List<${className}> ${classname}List);

	/**
     * 修改${tableComment}
     *
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	int update${className}(${className} ${classname});

	/**
     * 删除${tableComment}
     *
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return 结果
     */
	int delete${className}ById(${primaryKey.attrType} ${primaryKey.attrname});

	/**
     * 批量删除${tableComment}
     *
     * @param ${primaryKey.attrname}s 需要删除的数据ID
     * @return 结果
     */
	int delete${className}ByIds(Long[] ${primaryKey.attrname}s);

}
